body {
    font-family: sans-serif;
}

/**
 * We're use a pipe as hyphenation character here and color it red to easier see,
  * where the Hyphenizer adds its hyphens. This isn't needed normally.
 */
.hyphenation-character {
    color: red;
    padding: 0 .25em;
}